# Select the first row of each group

In [1]:
import org.apache.spark.sql.functions.{row_number, max, broadcast}
import org.apache.spark.sql.expressions.Window

In [2]:
val df = sc.parallelize(Seq(
  (0,"cat26",30.9), (0,"cat13",22.1), (0,"cat95",19.6), (0,"cat105",1.3),
  (1,"cat67",28.5), (1,"cat4",26.8), (1,"cat13",12.6), (1,"cat23",5.3),
  (2,"cat56",39.6), (2,"cat40",29.7), (2,"cat187",27.9), (2,"cat68",9.8),
  (3,"cat8",35.6))).toDF("Hour", "Category", "TotalValue")

val w = Window.partitionBy($"hour").orderBy($"TotalValue".desc)

val dfTop = df.withColumn("rn", row_number.over(w)).where($"rn" === 1).drop("rn")

dfTop.show

+----+--------+----------+
|Hour|Category|TotalValue|
+----+--------+----------+
|   1|   cat67|      28.5|
|   3|    cat8|      35.6|
|   2|   cat56|      39.6|
|   0|   cat26|      30.9|
+----+--------+----------+

df = [Hour: int, Category: string ... 1 more field]
w = org.apache.spark.sql.expressions.WindowSpec@3a0df976
dfTop = [Hour: int, Category: string ... 1 more field]

[Hour: int, Category: string ... 1 more field]

## concat dfs

In [6]:
val newDf = df.union(df)

newDf = [Hour: int, Category: string ... 1 more field]

[Hour: int, Category: string ... 1 more field]

In [7]:
df.count()

13

In [8]:
newDf.count()

26