## Renaming months from number to name in pandas

In [1]:
import pandas as pd
import numpy as np
import calendar

In [2]:
# Create dummy dataframe
dateindx = pd.date_range('2020-05-01', '2020-05-31', freq='D')

df = pd.DataFrame(np.random.randint(0,1000, (len(dateindx), 5)), 
             index=pd.MultiIndex.from_arrays([dateindx.month, dateindx.day]),
             columns=['High', 'Low','Open', 'Close','Volume'])

# Use calendar library for abbreviations and order
dd=dict((enumerate(calendar.month_abbr)))

# rename level zero of multiindex
df = df.rename(index=dd,level=0)

# Create calendar month data type with order for sorting
cal_dtype = pd.CategoricalDtype(list(calendar.month_abbr), ordered=True)

# Change the dtype of the level zero index
df.index = df.index.set_levels(df.index.levels[0].astype(cal_dtype), level=0)

In [3]:
df.head()

       High  Low  Open  Close  Volume
May 1    29  338   797    688     569
    2    13  850   291     25     567
    3   162  248   168    842       4
    4   343   38    57    728     406
    5   161  582    89     14     963